{{yield}}
<body>


    
<section>
<div class="ort">
<div>
<input type="checkbox" 
 {{action "toggleCheckBox" on="change"}} 
 /> Großraum Essen  <em>3,99 Euro</em>
 </div>
<div>
 <input type="checkbox" 
 {{action "toggleCheckBox" on="change"}} 
 /> Großraum Duisburg <em>3,42 Euro</em>
 </div>
 <div>
  <input type="checkbox" 
 {{action "toggleCheckBox" on="change"}} 
 /> Großraum Dortmund <em>5,12 Euro</em> </div>
  <div>
  <input type="checkbox" 
 {{action "toggleCheckBox" on="change"}} 
 /> Hagen, Herdeck/Wetter, Iserlohn <em>3,42 Euro</em> </div>
 <div>
  <input type="checkbox" 
 {{action "toggleCheckBox" on="change"}} 
 /> Siegen, Meschede, Berleburg, Warstein, Amsberg<em>3,42 Euro</em> </div>
 </div>
 </section>
 </body>
 